body {
    background-color: #5585b5;
    font-family:"Lucida Console", "Monaco", monospace;
    text-align: center;


}

#game {
    width: 100%;
    height: 100%;
	align-items: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;

   
}
#game-title {
	text-align: center;
    font-size: 30px;
    color: #ffcbcb;
}

#board-container {
    display: flex;
    font-family:"Lucida Console", "Monaco", monospace;
    text-align: center;
   	color: #ffcbcb;
    
    
    
   
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
    box-sizing: border-box;

   
   
    
}

.square {
    border: 2px solid #233142;
    border-radius: 25px;
    min-width: 60px;
    min-height: 60px;
    font-size: 50px;
    
   
}


.square:hover {
    background-color: #79c2d0;
}


 
.keyboard-row {
  display: flex;
  width: 100%;
  color: #ffcbcb;
}


.keyboard-row button {
  flex-grow: 1;
  border: 2px solid #79c2d0;
  border-radius: 25px;
  background-color: #79c2d0;
  color: #233142;
  font-family:"Lucida Console", "Monaco", monospace;
  font-weight; bold;
}

.keyboard-row button:hover {
    background-color: #ffcbcb;
}
